.ksf-divider {
  background-image: url('../images/ksf-call-to-action-neutral-background.png');
  background-size: cover;
  background-position: center;
  height: 9px;
  width: 100%;
  transition: background-color 0.3s;
}
