.ksf-section-container {
  padding: 15px;
  text-align: center;
}

.ksf-section-limiter {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 600px) {

  .ksf-section-container {
    padding: 23px;
  }

}
