<div class="ksf-section-container ksf-about-tiles-container">
  <div class="ksf-section-limiter">
    <div class="ksf-about-tiles-row">
      <a href="/#social" alt="View KS Fitness's Social">
        <div class="ksf-about-tile ksf-about-tile-no-colour-top" style="background-image: url('<%= dato.about_wildcard_image.image.url(w: 250, fm: :jpg) %>')">
        </div>
      </a>
      <a href="#Rachel" alt="View Rachel's Bio">
        <div class="ksf-about-tile ksf-about-tile-fit-top">
          <div class="ksf-about-tile-overlay">
          </div>
        </div>
      </a>
    </div>
    <div class="ksf-about-tiles-row">
      <a href="#Clodagh" alt="View Clodagh's Bio">
        <div class="ksf-about-tile ksf-about-tile-strong-top">
          <div class="ksf-about-tile-overlay">
          </div>
        </div>
      </a>
      <a href="#Nicolle" alt="View Nicolle's Bio">
        <div class="ksf-about-tile ksf-about-tile-lean-top">
          <div class="ksf-about-tile-overlay">
          </div>
        </div>
      </a>
    </div>
    <div class="ksf-about-tiles-row">
      <a href="/training#videos" alt="View Kev's Training Videos">
        <div class="ksf-about-tile ksf-about-tile-central">
        </div>
      </a>
    </div>
    <div class="ksf-about-tiles-row">
      <a href="#Tony" alt="View Tony's Bio">
        <div class="ksf-about-tile ksf-about-tile-fit-bottom">
          <div class="ksf-about-tile-overlay">
          </div>
        </div>
      </a>
      <a href="#Oliver" alt="View Oliver's Bio">
        <div class="ksf-about-tile ksf-about-tile-strong-bottom">
          <div class="ksf-about-tile-overlay">
          </div>
        </div>
      </a>
    </div>
    <div class="ksf-about-tiles-row">
      <a href="#Lawrie" alt="View Lawrie's Bio">
        <div class="ksf-about-tile ksf-about-tile-lean-bottom">
          <div class="ksf-about-tile-overlay">
          </div>
        </div>
      </a>
      <a href="/" alt="KS Fitness Home">
        <div class="ksf-about-tile ksf-about-tile-no-colour-bottom">
          <img class="ksf-about-tile-logo" src="../images/ksf-logo.png" alt="KS Fitness Logo">
        </div>
      </a>
    </div>
  </div>
</div>
