<div class="ksf-menu">
  <a href="/about" alt="About KS Fitness">
    <img class="ksf-menu-icon ksf-menu-icon-about" src="../images/ksf-about-icon.svg" alt="About Icon">
  </a>
  <a href="/training" alt="Training">
    <img class="ksf-menu-icon ksf-menu-icon-training" src="../images/ksf-training-icon.svg" alt="Training Icon">
  </a>
  <a href="/" alt="KS Fitness Home">
    <img class="ksf-menu-logo" src="../images/ksf-logo.png" alt="KS Fitness Logo">
  </a>
  <a href="/nutrition" alt="Nutrition">
    <img class="ksf-menu-icon ksf-menu-icon-nutrition" src="../images/ksf-nutrition-icon.svg" alt="Nutrition Icon">
  </a>
  <a href="/blog" alt="KS Fitness Blog">
    <img class="ksf-menu-icon ksf-menu-icon-blog" src="../images/ksf-blog-icon.svg" alt="Blog Icon">
  </a>
</div>
<div class="ksf-page-heading-bar">
  <h1><%= current_page.data.heading %></H1>
</div>
