<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Use the title from a page's frontmatter if it has one -->
  <title>KS Fitness - Personal Training and Nutrition - <%= current_page.data.title%></title>
  <meta name="description" content="WHAT WILL YOU BE? Through tailored training and nutrition plans, KS Fitness supports its clients be the best they can be. Based in Romford; Serving the World!">
  <%= stylesheet_link_tag "site" %>
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
  <%= favicon_tag 'images/ksf-favicon.png' %>
  <meta property="og:url" content="https://ksfitness.ltd" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="KS Fitness" />
  <meta property="og:description" content="WHAT WILL YOU BE? Through tailored training and nutrition plans, KS Fitness supports its clients be the best they can be. Based in Romford; Serving the World!" />
  <meta property="og:image" content="https://ksfitness.ltd/images/ksf-logo-blue.jpg" />
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@KevSelleyPT85">
  <meta name="twitter:creator" content="@KevSelleyPT85">
  <meta name="twitter:title" content="KS Fitness">
  <meta name="twitter:description" content="WHAT WILL YOU BE? Through tailored training and nutrition plans, KS Fitness supports its clients be the best they can be.">
  <meta name="twitter:image" content="https://ksfitness.ltd/images/ksf-logo-blue.jpg">
  <meta name="google-site-verification" content="xQ7Ng8eN7ANIifry1aMFc07YHZU70t2B0B9SJpYU93Q" />
</head>
