<div class="ksf-selector-container">
  <div class="ksf-selector-item ksf-selector-item-strong ksf-selector-item-left" id="ksf-selector-item-strong">
    <div class="ksf-selector-item-overlay ksf-selector-item-overlay-strong">
    </div>
    <h3>STRONG</h3>
  </div>
  <div class="ksf-selector-item ksf-selector-item-fit ksf-selector-item-centre" id="ksf-selector-item-fit">
    <div class="ksf-selector-item-overlay ksf-selector-item-overlay-fit">
    </div>
    <h3>FIT</h3>
  </div>
  <div class="ksf-selector-item ksf-selector-item-lean ksf-selector-item-right" id="ksf-selector-item-lean">
    <div class="ksf-selector-item-overlay ksf-selector-item-overlay-lean">
    </div>
    <h3>LEAN</h3>
  </div>
</div>
