<div class="ksf-sign-up-container" id="sign-up">
  <div class="ksf-sign-up-fields-container">
    <p class="ksf-sign-up-text"><span class="bold">Tell us a little about yourself.</span></p>
    <p class="ksf-sign-up-text">The more we know, the better, but feel free to skip sections you don't think are relevant.</p>
    <form class="ksf-sign-up-form" action="https://web-workshop-messenger.herokuapp.com/f/cb45e0" method="post">
      <div class="ksf-sign-up-form-row">
        <div class="ksf-sign-up-form-column ksf-sign-up-form-column-left">
          <input class="ksf-footer-form-field ksf-sign-up-field-full" type="text" placeholder="NAME" name="NAME" required />
        </div>
        <div class="ksf-sign-up-form-column ksf-sign-up-form-column-right">
          <input class="ksf-footer-form-field ksf-sign-up-field-full" type="text" placeholder="PHONE/EMAIL" name="PHONE/EMAIL" required />
        </div>
      </div>
      <div class="ksf-sign-up-form-row">
        <div class="ksf-sign-up-form-column ksf-sign-up-form-column-left">
          <input class="ksf-footer-form-field ksf-sign-up-field-full" type="text" placeholder="MALE/FEMALE" name="MALE/FEMALE" required />
        </div>
        <div class="ksf-sign-up-form-column ksf-sign-up-form-column-right">
          <input class="ksf-footer-form-field ksf-sign-up-field-full" type="text" placeholder="AGE" name="AGE" required />
        </div>
      </div>
      <input class="ksf-footer-form-field ksf-sign-up-field-full" type="text" placeholder="GOALS" name="GOALS" required />
      <input class="ksf-footer-form-field ksf-sign-up-field-full" type="text" placeholder="INJURIES/HEALTH ISSUES" name="INJURIES/HEALTH ISSUES" />
      <input class="ksf-footer-form-field ksf-sign-up-field-full" type="text" placeholder="CURRENT EXERCISE REGIME" name="CURRENT EXERCISE REGIME" />
      <input class="ksf-footer-form-field ksf-sign-up-field-full" type="text" placeholder="AVAILABILITY" name="AVAILABILITY" />
      <input class="ksf-footer-form-field ksf-sign-up-field-full" type="text" placeholder="ALLERGIES/DIETARY REQUIREMENTS" name="ALLERGIES/DIETARY REQUIREMENTS" />
      <input class="ksf-footer-form-field ksf-sign-up-field-full" type="text" placeholder="OCCUPATION" name="OCCUPATION" />
      <input class="ksf-footer-form-field ksf-sign-up-field-full" type="text" placeholder="WHERE DID YOU HEAR ABOUT KS FITNESS?" name="WHERE DID YOU HEAR ABOUT KS FITNESS?" />
      <button class="ksf-footer-form-field ksf-footer-field-send ksf-sign-up-send" type="Submit"><p class="ksf-call-to-action-text ksf-call-to-action-text-footer">SEND</p></button>
    </form>
  </div>
</div>
