<div class="ksf-thank-you-oops-container" id="thank-you">
  <div class="ksf-thank-you-oops-message">
    <p>Thank you for getting in touch. We'll get back to you as soon as possible!</p>
    <a href="/" alt="Dismiss Message">
      <img src="../images/ksf-close-cross.svg" class="ksf-thank-you-oops-close-cross" alt="Close Icon">
    </a>
  </div>
</div>
<div class="ksf-thank-you-oops-container" id="oops">
  <div class="ksf-thank-you-oops-message">
    <p>There was a problem with your form submission. Please try again, call on <a href="tel:07944380599" alt="Call KS Fitness">07944 380 599</a> or use <a href="https://www.facebook.com/KevselleyPT/" target="_blank" alt="KS Fitness on Facebook">Facebook</a> to get in touch.</p>
    <a href="/" alt="Dismiss Message">
      <img src="../images/ksf-close-cross.svg" class="ksf-thank-you-oops-close-cross" alt="Close Icon">
    </a>
  </div>
</div>
