---
title: Nutrition
heading: "NUTRITION"
---
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.9";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<%= partial "partials/shared/selector" %>
<div class="ksf-section-container ksf-page-intro-text">
  <div class="ksf-section-limiter">
    <p class="ksf-multi-paragraph-text ksf-top-line-no-margin"><span class="bold">Nutrition can be very complicated and confusing.</span> People tend to over think the basics and make things harder for themselves! Simple nutrition is very effective and can really help you maximise your goals with training.</p>
    <p class="ksf-multi-paragraph-text ksf-top-line-no-margin">Providing your body with the correct fuel can dramatically help with maintaining energy, growth within the muscle, maintaining a healthy weight, reducing the risk of diabetes, and keeping bones and teeth strong.</p>
    <p class="ksf-multi-paragraph-text ksf-top-line-no-margin">Whilst some members of the KS Fitness family require high calorie meals, others will need lighter, protein-rich food but it's all about balance. Eat well but don’t be afraid to have some cheat meals from time to time to treat yourself - remember, we're all human.</p>
    <p class="ksf-multi-paragraph-text ksf-top-line-no-margin">On this page you’ll find some of our favourite recipes, so keep checking back for regular updates.</p>
    <p class="ksf-multi-paragraph-text ksf-top-line-no-margin">Need something more specific? We offer tailored nutrition plans to match your activity levels. Whether you live in Romford or Romania, we can help you to eat right and achieve your health and fitness goals. Hit us up using the button below.</p>
   </div>
</div>
<div class="ksf-call-to-action-container">
  <a href="#sign-up" alt="Sign Up Form">
    <div class="ksf-call-to-action-button">
      <p class="ksf-call-to-action-text">
        LET'S TALK FOOD
      </p>
    </div>
  </a>
</div>
<%= partial "partials/shared/sign-up" %>
<%= partial "partials/nutrition/recipes" %>
