<div class="ksf-section-container ksf-client-hero-container">
  <div class="ksf-hero-1">
    <a href="/about#Clodagh" alt="See Clodagh's Bio">
      <div class="ksf-section-limiter ksf-section-limiter-client-hero">
        <img class="ksf-client-hero" src="../images/ksf-Clodagh-ropes.jpg" alt="KS Fitness's Clodagh Rope Training">
        <div class="ksf-client-hero-overlay-container ksf-client-hero-overlay-container-strong">
          <p class="ksf-client-hero-text">'The One That Can Do Everything'</p>
        </div>
      </div>
    </a>
  </div>
  <div class="ksf-hero-2">
    <a href="/about#Lawrie" alt="See Lawrie's Bio">
      <div class="ksf-section-limiter ksf-section-limiter-client-hero">
        <img class="ksf-client-hero" src="../images/ksf-Lawrie-cables.jpg" alt="KS Fitness's Lawrie Cable Training">
        <div class="ksf-client-hero-overlay-container ksf-client-hero-overlay-container-lean">
          <p class="ksf-client-hero-text">'The One That Always Finds The Time To Train'</p>
        </div>
      </div>
    </a>
  </div>
  <div class="ksf-hero-3">
    <a href="/about#Oliver" alt="See Oliver's Bio">
      <div class="ksf-section-limiter ksf-section-limiter-client-hero">
        <img class="ksf-client-hero" src="../images/ksf-Oliver-leg-press.jpg" alt="KS Fitness's Oliver Leg Press Training">
        <div class="ksf-client-hero-overlay-container ksf-client-hero-overlay-container-strong">
          <p class="ksf-client-hero-text">'The One That Lifts Heavy'</p>
        </div>
      </div>
    </a>
  </div>
  <div class="ksf-hero-4">
    <a href="/about#Nicolle" alt="See Nicolle's Bio">
      <div class="ksf-section-limiter ksf-section-limiter-client-hero">
        <img class="ksf-client-hero" src="../images/ksf-Nicolle-squat-jump.jpg" alt="KS Fitness's Nicolle Squat Jump Training">
        <div class="ksf-client-hero-overlay-container ksf-client-hero-overlay-container-lean">
          <p class="ksf-client-hero-text">'The One That's Determined To Be Better Than Yesterday'</p>
        </div>
      </div>
    </a>
  </div>
  <div class="ksf-hero-5">
    <a href="/about#Rachel" alt="See Rachel's Bio">
      <div class="ksf-section-limiter ksf-section-limiter-client-hero">
        <img class="ksf-client-hero" src="../images/ksf-Rachel-before-after.jpg" alt="KS Fitness's Rachel Before And After">
        <div class="ksf-client-hero-overlay-container ksf-client-hero-overlay-container-fit">
          <p class="ksf-client-hero-text">'The One That Stays Focussed On Her Goals'</p>
        </div>
      </div>
    </a>
  </div>
  <div class="ksf-hero-6">
    <a href="/about#Tony" alt="See Tony's Bio">
      <div class="ksf-section-limiter ksf-section-limiter-client-hero">
        <img class="ksf-client-hero" src="../images/ksf-Tony-deadlift.jpg" alt="KS Fitness's Tony Deadlift Training">
        <div class="ksf-client-hero-overlay-container ksf-client-hero-overlay-container-fit">
          <p class="ksf-client-hero-text">'The One That We Call The Machine'</p>
        </div>
      </div>
    </a>
  </div>
</div>
