<div class="ksf-section-limiter">
  <img src="../images/ksf-kev-clodagh-laughing.jpg" class="ksf-photoshoot-portrait" alt="KS Fitness Training Shot">
</div>
<div class="ksf-section-container ksf-news-and-offer-section" id="news-and-offers">
  <div class="ksf-section-limiter">
    <h2 class="ksf-yellow-text"><%= dato.news_and_offer_section.title %></h2>
    <%= markdown dato.news_and_offer_section.details %>
  </div>
  <div class="fb-share-button" data-href="https://ksfitness.ltd/#news-and-offers" data-layout="button_count" data-size="large" data-mobile-iframe="false">
    <a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fksfitness.ltd%2F%23news-and-offers&amp;src=sdkpreparse">
      Share
    </a>
  </div>
</div>
<div class="ksf-call-to-action-container">
  <a href="#sign-up" alt="Sign Up Form">
    <div class="ksf-call-to-action-button">
      <p class="ksf-call-to-action-text">
        TRY KS FITNESS TODAY
      </p>
    </div>
  </a>
</div>
