<div class="ksf-section-container">
  <div class="ksf-section-limiter">
    <h2>Testimonial</h2>
    <a href="/about#Tony" alt="View Tony's Bio">
      <div class="ksf-testimonial-1">
        <p class="ksf-testimonial-text ksf-testimonial-fit">Kev's been my personal trainer for over 3 years now,  when I first met him I had a one to one single session and the Experience of that first session I so much enjoyed I knew I had to have many more.</p>
        <p class="ksf-testimonial-text ksf-testimonial-fit">I was in terrible shape when I first came to Kev and what I achieved with Kev completely changed my lifestyle. His personal ability and experience is second to none, His motivation to drive me on at times when I was almost at my limits is excellent and through Kev's tuition and ability made me push further than I thought I could ever go.</p>
        <p class="ksf-testimonial-text ksf-testimonial-fit">Kev is the first personal trainer that I've had and in my opinion there is not a better personal trainer out there. He has also become a very good friend to me throughout our time together.</p>
        <p class="ksf-testimonial-text ksf-testimonial-fit">I am 62 years of age and through Kev's training I am fitter now than I was 30 years ago.</p>
        <p class="ksf-testimonial-source ksf-testimonial-fit">Tony, 62</p>
      </div>
    </a>
    <a href="/about#Clodagh" alt="View Clodagh's Bio">
      <div class="ksf-testimonial-2">
        <p class="ksf-testimonial-text ksf-testimonial-strong">I started training with Kev last year on the recommendation of my old pt. Kev is so warm and welcoming. He is easy to work with and asks me all the right questions to work on my goals, ensuring I get a personal programme that meets my needs. I am always impressed with his level of knowledge, which is important to me as I have an ongoing medical issue and Kev is able to respond to my changing needs, adapting and modifying my programme so I can still work hard and get the most benefits from my workout.  Kev understands what I need to do and is amazing at motivating me to get the work done and the results I need. His workouts are varied and fun so I never get bored!!</p>
        <p class="ksf-testimonial-source ksf-testimonial-strong">Clodagh</p>
      </div>
    </a>
    <a href="/about#Lawrie" alt="View Lawrie's Bio">
      <div class="ksf-testimonial-3">
        <p class="ksf-testimonial-text ksf-testimonial-lean">I've been working with Kev now for over two years and have seen major improvement in my strength, stamina and physique. He's introduced me to new ways of training and I'm continuing to learn whilst being pushed beyond my comfort zone. Kev is fantastic at understanding the client's needs and concerns and addressing them. He's professional, reliable and totally at the top of his game.</p>
        <p class="ksf-testimonial-source ksf-testimonial-lean">Lawrie</p>
      </div>
    </a>
    <a href="/about#Nicolle" alt="View Nicolle's Bio">
      <div class="ksf-testimonial-4">
        <p class="ksf-testimonial-text ksf-testimonial-lean">I came to Kev 18 months ago after just doing classes at the gym.  I wanted to take my training to the next level and get a body that reflected that. What I achieved with Kev's help has far exceeded my expectations.</p>
        <p class="ksf-testimonial-text ksf-testimonial-lean">My overall strength and fitness has improved so much. Each session is always different and he constantly challenges me. I have learned so much from Kev, he has helped me overcome barriers and has given me a new outlook on training.</p>
        <p class="ksf-testimonial-text ksf-testimonial-lean">Kev is dynamic, fun, committed and motivational and I can't recommend him enough.</p>
        <p class="ksf-testimonial-source ksf-testimonial-lean">Nicolle</p>
      </div>
    </a>
    <a href="/about#Oliver" alt="View Oliver's Bio">
      <div class="ksf-testimonial-5">
        <p class="ksf-testimonial-text ksf-testimonial-strong">Kev is everything you look for in a trainer: informative, motivating, personalable and above all efficient.</p>
        <p class="ksf-testimonial-text ksf-testimonial-strong">The approach to training is both challenging and personal as he tailors the training to what you want to achieve, which is outlined before you even spend a penny.</p>
        <p class="ksf-testimonial-text ksf-testimonial-strong">
          Whether you're just looking to get in shape, or put on some serious size, Kev helps you to develop a program you can also follow yourself outside of the sessions. Taking care to ensure you understand the exercises you're doing to both maximise gains (obviously) but to prevent injury as well, so you're always ready to go for the next session. Time spent outside the gym is just as important to making the most out of the sessions, so if nutritition is where you struggle, Kev always has tips he follows himself to keep you working towards your goals. Kev's open approach to training also means that whatever your work schedule he's committed to having the sessions work around you, whether you're an early riser or leave the office late. A big barrier to training (some find) is price, I find Kev's system to be fair and competitive allowing you maximise his time for what you've paid for. I've trained with Kev for over a year now, and will continue to do so as there's still goals I want to achieve and find him the right trainer to help me get there.
        </p>
        <p class="ksf-testimonial-source ksf-testimonial-strong">Oliver</p>
      </div>
    </a>
    <a href="/about#Rachel" alt="View Rachel's Bio">
      <div class="ksf-testimonial-6">
        <p class="ksf-testimonial-text ksf-testimonial-fit">I started training with Kev in June 2015, by March 2016 I had lost 4 stone, gained strength and skills I never believe I would be able to achieve.</p>
        <p class="ksf-testimonial-text ksf-testimonial-fit">I was extremely shy when I first started training and I felt so uncomfortable with my body.</p>
        <p class="ksf-testimonial-text ksf-testimonial-fit">After the first few sessions I gained so much more confidence and enjoyed training and seeing the results.</p>
        <p class="ksf-testimonial-text ksf-testimonial-fit">I am also a Chronic Migraine sufferer and Kev caters the sessions to my ability on the day. Some days are harder than others, but Kev ensures we always get the best out of my sessions.</p>
        <p class="ksf-testimonial-text ksf-testimonial-fit">With his love and passion of being a PT, I always know I am in safe hands and his tips and advice is always going to be spot on.</p>
        <p class="ksf-testimonial-text ksf-testimonial-fit">Having PT’s in the past I am able to compare Kev to what I have before. I can easily say, he is the best PT. Not only has he helped me gain confidence, but he is extremely knowledgeable and knows how to get the best results. Highly recommend 😊</p>
        <p class="ksf-testimonial-source ksf-testimonial-fit">Rachel</p>
      </div>
    </a>
  </div>
</div>
