<div class="ksf-taster-container">
  <h2>Training Videos</h2>
  <div class="ksf-taster-content">
    <div class="ksf-section-limiter">
      <iframe class="ksf-video" src="https://player.vimeo.com/video/219214940" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
  </div>
  <a href="/training/#videos" alt="See More Training Videos">
    <div class="ksf-taster-more-button">
      <p class="ksf-taster-more-button-text">
        More
      </p>
    </div>
  </a>
</div>
